<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl"> <!-- Controller binding moved here -->
<head>
  <meta charset="utf-8">
  <title> {{query}} My HTML File</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body> <!-- Must remove ng-controller - - - can only live once? -->

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!-- Sidebar content -->
        Search: <input ng-model="query">
      </div>
      <div class="span10">
        <!-- Body content -->
        <ul>  
          <li ng-repeat="phone in phones | filter : query">
            {{phone.name}}
            <p> {{phone.snippet}} </p>
          </li>
        </ul>
        <p> Total number of phones: {{phones.length}}</p>
      </div>
    </div>
  </div>

  <hr>

  <div> Your query: {{query}}</div> <!-- This is CASE SENSITIVE-->


</body>
</html>
